{% extends 'base.html' %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
    <h1>{{ task.title }}</h1>
    <p>{{ task.body }}</p>
    <p>Deadline: {{ task.deadline }}</p>
    <p>Status: {{ task.status }}</p>
    <p>Assigned to: {{ task.assigned_user_id.username }}</p>
    <p>Author: {{ task.author.username }}</p>
    <a href="{% url 'task-update' project.id task.id %}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'task-delete' project.id task.id %}" class="btn btn-danger">Delete</a>
{% endblock %}