{% extends 'base.html' %}

{% block title %}Tasks for {{ project.title }}{% endblock %}

{% block content %}
    <h1>Tasks for {{ project.title }}</h1>
    <a href="{% url 'task-create' project.id %}" class="btn btn-primary mb-3">Create New Task</a>
    <ul class="list-group">
        {% for task in object_list %}
            <li class="list-group-item">
                <a href="{% url 'task-detail' project.id task.id %}">{{ task.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}